{% extends 'base.html' %}

{% block content %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% load cart %}
{% load custom_filter %}
<!-- body -->
{% if Error %}
<script>alert('{{Error}}')</script>
{% endif %}
{% if Success %}
<script>alert('{{Success}}')</script>
{% endif %}

<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

<!--				<a href="/" class="list-group-item list-group-item-action">All Products</a>-->


				<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header mb-0" id="flush-headingOne">
      <button class="accordion-button collapsed btn btn-light btn-lg mb-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        All products
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
		  {% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action">{{category.name}}</a>
				{% endfor %}

	  </div>
    </div>
  </div>
				</div>

<!--					<div class="btn-group">-->
<!--						<button type="button" class="btn btn-light btn-lg dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--							<span class="visually-hidden" style="display: None;">Toggle Dropdown</span>-->
<!--						  </button>-->
<!--						 <a href="/" class="btn btn-light btn-lg">All Products</a>-->

<!--					  <ul class="dropdown-menu">-->
<!--								{% for category in categories %}-->
<!--				<a href="/?category={{category.id}}"-->
<!--					class="list-group-item list-group-item-action btn btn-light btn-lg">{{category.name}}</a>-->
<!--				{% endfor %}-->
<!--					  </ul>-->
<!--					</div>-->

			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3 border-dark rounded" id={{product.id}} style="width: 18rem; border-width: 3px;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b>{{product.price|currency}}</b>
						<a href="#" data-toggle="modal" data-target="#product_{{product.id}}" class="btn btn-outline-info border rounded  col-lg-3 float-right card-text">Buy</a>
						</p>
      <!-- {{product | is_in_cart:request.session.cart }} -->
					</div>

  <!-- Modal -->
  <div class="modal fade" id="product_{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="purchase/{{product.id}}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input required type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">

                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input required type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
				<div class="form-group">
                    <label  for="">Quantity</label>
                    <input required type="number" min="1" name="Quantity" id="" class="form-control" placeholder="0" aria-describedby="helpId">
                  </div>


                  <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check out">
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>




					<div class="card-footer p-0 no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-light border-right">
							</form>
							<div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-light border-left">
							</form>
						</div>
						{% else %}
						<form action="/#{{product.id}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-light  form-control"
								   style = "background:#d7f7f6;"
								value="Add To Cart">
						</form>
						{% endif %}

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<!-- Razorpay's Javascript code. -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    {% if razorpay_order_id %}
      var prefill = undefined
      {%if prefill%}
      var prefill = {{prefill | safe }}
      {%endif%}
      var options = {

        // Enter the Key ID generated from the Dashboard
        key: "{{ razorpay_merchant_key }}",

        amount: "{{ razorpay_amount }}",
        currency: "{{ currency }}",

        // Your/store name.
        name: "E-Shop",

        // Pass the `id` obtained in the response of Step 1
        order_id: "{{ razorpay_order_id }}",
        callback_url: "{{ callback_url }}",
        prefill: prefill
      };


      // initialise razorpay with the options.
      var rzp1 = new Razorpay(options);
      $('document').ready(function(){
      rzp1.open();});
    {%endif%}
  </script>

{% endblock %}