{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
<div class="card text-white border-success mb-3" style="width: 18rem;">
  <div class="card-body text-success">
    <h5 class="card-title">Purchase Successful</h5>

<!--      {% if item_list %}-->
<!--<table class="table table-hover">-->
<!--  <thead>-->
<!--    <tr class = 'table-dark'>-->
<!--      <th scope="col table-dark">Product Name</th>-->
<!--      <th scope="col table-dark">Quantity</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--   <p class="card-text">-->
<!--  {% for item in item_list %}-->
<!--    <tr class = 'table-success'>-->
<!--      <td>item.product.name</td>-->
<!--      <td>item.quantity</td>-->
<!--    </tr>-->
<!--    {%endfor%}-->
<!--  </tbody>-->
<!--</table>-->
<!--    {%else%}-->
<!--    <ul>-->

<!--    </ul>-->
<!--    {%endif%}-->
      </p>
    <a href="/" class="btn btn-success">Go To Home</a>
  </div>
</div>
</div>

{% endblock %}